<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>

    <title>Job Details</title>

    <link rel="stylesheet" href="/css/animate-3.7.0.css">
    <link rel="stylesheet" href="/fonts/flat-icon/flaticon.css">
    <link rel="stylesheet" href="/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="/css/elegant-icons-style.css" />
    <link rel="stylesheet" href="/css/headerStyle.css">

    <style>
        p {
            font-size: 14pt;
        }

        li {
            font-size: 14pt;
        }
    </style>
</head>

<body>

    <div id="container" class="container">
        <%- include('includes/header.ejs') %>

        <div class="preloader">
            <div class="spinner"></div>
        </div>
        <div class="box">
            <form class="form" action="/detailsapply" method="POST">
                <input type="hidden" id="id" name="id" value=<%= data.id %>>

                <h1><b><%= data.user_job %></b></h1>
                <br>
                <h3>Job Description : </h3>
                <p><%= data.Description %></p>
                <h3>Responsibilities :</h3>
                <p> <%= data.Responsibilities %></p>

                <h3> Skills needed :</h3>
                <% if(data.skills){ %>
                <ul>
                    <% for(i=0 ; i< data.skills.length ; i++ ) { %>
                    <% var skill = data.skills[i] ;  %>
                    <li><%= skill %></li>
                    <% } %>
                </ul>
                <% } %>
                <h3>Salary : </h3>
                <p><%= data.Salary %></p>

                <h3>Company address : </h3>
                <p><%= data.position %></p>

                <h3> HR Email :</h3>
                <p><%= data.HrEmail %></p>

                <button class="btn btn-primary btn-lg btn-block apply" type="submit">Apply</button>
                <label style="font-size: 20pt">
                    <%= message %>
                </label>
            </form>

        </div>

    </div>

    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="/js/vendor/wow.min.js"></script>
    <script src="/js/vendor/owl-carousel.min.js"></script>
    <script src="/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/js/vendor/ion.rangeSlider.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>